.section__about
	cursor pointer
	background-color rgba($bg, 0.95)
	z-index set-index(overlay)
	display flex
	flex-direction column
	justify-content center
	p
		set-type-size(small, true)
		+mq('bp-m')
			set-type-size(root, true)
	a
		&:hover
			color $fg-lighter
			border-bottom 1px solid $fg-lighter

	.about__content
		margin 2rem auto 0 auto

		p
			set-type-size(small)
			+mq('bp-6')
				set-type-size(root)

	.about__collab
		margin 0 auto 1rem auto

		p
			font-weight 600
			set-type-size(small)
			+mq('bp-6')
				set-type-size(root)

	.about__content, .about__exhibit, .about__collab
		max-width $column-width
		width 90%
		//margin-bottom 2rem

	.about__exhibit
		display flex
		align-items center
		// padding-top 1rem
		& > *
			&:first-child
				margin-right 1rem
				width 40%
			&:last-child
				width 60%
				margin-left 1rem

		.exhibit__title
			font-weight 700

	.about__collab
		display none
		align-items center
		justify-content space-between
		// padding-top 1rem
		+mq('bp-m')
			display flex
		svg
			height 3rem
			+mq('bp-5')
				height 4rem
		#wordmark
			width 8rem
			+mq('bp-5')
				width 9rem
		a
			border-bottom none
			&:hover
				opacity 0.7		

	.about__close
		border none
		position absolute
		top 0.25em
		right 0.25em
		&:hover
			background transparent
