.section__graphic
	user-select none
	.graphic__platforms
		position absolute
		top 0
		left 0
		margin-left $sidebar-width
		display flex
		height 100%
		transition left 0.5s ease-in-out

	.year
		position relative
		margin-left 3rem
		margin-top 2rem
		margin-bottom 4rem
		border-left 2px solid $bg-darkest
		&.is-hidden
			width 0
			overflow hidden
			margin-left 0
			border none
			pointer-events none

	.hed
		margin 0
		position absolute
		transform-origin 50% 100%
		transform rotate(-90deg) translateY(-2.5rem)
		font-weight 700
		set-type-size(x-large, false)

	.parties
		display flex

	.party
		margin 0 1rem
		width 11rem
		&.is-hidden
			display none
		&:first-of-type
			margin-left 2rem

		.grafs
			display flex
			flex-wrap wrap
			flex-direction clumn
			align-items flex-start
			cursor crosshair

		.graf
			width 100%
			background $bg-darker
			margin 0
			&.is-issue
				background-color $primary
				opacity 0.5
			&.is-highlight
				background-color $secondary
				opacity 0.5
			&.is-active
				opacity 1
				transform scale(1,2) translateY(-25%)
				pointer-events none


	.info
		transform translateY(-0.5rem)
		padding-bottom 1rem

	.info p
		margin 0
		color $fg-lighter
		line-height 1.2
		set-type-size(root)

		span
			border-bottom 2px solid $primary

		&.party-name
			set-type-size(large)
			font-weight 700
			color $fg
			display flex

		.doc-link
			border-bottom none

		.doc-link a
			border-bottom none

			svg
				width 1rem
				margin 0.15rem 0 0 0.25rem
				&:hover
					stroke $fg


	.graphic__nav
		position absolute
		bottom 0
		left 0
		width 100%
		height 3rem
		display flex
		justify-content flex-end
		padding-right 1rem
		padding-bottom 1rem
		z-index set-index(overlay)
		button
			padding 0
			line-height 1
			text-transform uppercase
			font-weight 700
			set-type-size(small, false)
			margin 0 0.5rem
			width 7rem
			text-align center
		svg
			vertical-align middle
			width 1rem
			transform translateY(-2.5%)

	.tooltip
		position absolute
		top 50%
		left 50%
		width 24rem
		padding 1rem
		visibility hidden
		pointer-events none
		z-index set-index(overlay)
		background $bg
		border 2px solid $fg-lightest
		box-shadow 0 0 8px 2px rgba($fg, 0.2)
		transform translate(1rem, 1rem)
		&.is-visible
			visibility visible
		&.is-highlight
			mark
				background-color lighten($secondary, 20)
		p
			margin 0
			line-height 1.25
		mark
			background-color $primary
