.section__graphic
	
	.graphic__platforms
		display flex
		// width 5000px
		transition transform 1s ease-in-out

	.parties
		display flex

	.party
		padding-right 3rem
		figure
			width 200px
			height auto
			display flex
			flex-wrap wrap
			align-items flex-start
			justify-content space-between
			
			.graf
				width 30%
				height 1px
				background red
				margin 0
				margin-bottom 0.5px

