.sidebar
	position relative
	max-width $sidebar-width
	padding 1rem
	background-color $bg-darker

	ul
		display flex
		flex-wrap wrap
		justify-content space-between
	
	li
		width 50%
		padding 0.5rem 1rem
	
	button
		width 100%
		

	.nav__title
		// margin-top 0