/* CUSTOM STORY STYLE */

section
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.mainbar
	position fixed
	top 0
	left 0
	width 100%
	padding-left $sidebar-width
	transform translate3d(0,0,0)

button
	background transparent
	border 1px solid $fg
	padding 0.5em
