.section__video
	cursor pointer
	background-color rgba($bg, 0.95)
	z-index set-index(overlay)
	display flex
	flex-direction column
	justify-content center

	.video__content
		max-width $column-width
		width 90%
		margin 0 auto

	.video__close
		border none
		position absolute
		top 0.25em
		right 0.25em
		&:hover
			background transparent

	p
		color $fg
		set-type-size(small, true)
		margin 1rem 0 0 0
		&:hover
			a
				color $fg-lighter
			svg
				stroke $fg-lighter	
		a
			border-bottom 0
			svg
				width 1.25rem
				stroke $fg
				vertical-align middle
				margin-left 0.125rem
				transform translateY(-8%)
