.section__video
	cursor pointer
	background-color rgba($bg, 0.95)
	z-index set-index(overlay)
	display flex
	flex-direction column
	justify-content center

	.video__content
		max-width $column-width
		width 90%
		margin 0 auto

	.video__close
		border none
		position absolute
		top 0.25em
		right 0.25em