<section class='section__about is-hidden'>
	<div class='about__content'>
		{{!-- <p><strong>Data and Method</strong></p> --}}
		<p>{{{doc.aboutMethod}}}</p>
		<p>{{{doc.aboutExhibit}}}</p>
	</div>
	<div class='about__collab'>
		<p>A collaboration between</p>
		<p><a href='https://npg.si.edu/home/national-portrait-gallery' target=_'blank'>@@include('npg-logo.svg')</a></p>
		<p><a href='https://pudding.cool/' target=_'blank'>@@include('pudding-wordmark.svg')</a></p>
	</div>
	<button class='about__close'>@@include('x-circle.svg')</button>
</section>
