<section class='section__about is-hidden'>
	<div class='about__content'>
		{{!-- <p><strong>Data and Method</strong></p> --}}
		<p>{{{doc.aboutMethod}}}</p>
		<p>{{{doc.aboutExhibit}}}</p>
	</div>
	<div class='about__collab'>
		<p>A collaboration between</p>
		<p>@@include('npg-logo.svg')</p>
		<p>@@include('pudding-logo.svg')</p>
	</div>
	<button class='about__close'>@@include('x-circle.svg')</button>
</section>
