<section class='section__graphic'>
	<figure class='graphic__platforms'></figure>
	<div class='graphic__nav'>
		<button class='nav__back' data-dir='-1'>@@include('chevron-left.svg') Back</button>
		<button class='nav__forward' data-dir='1'>Forward @@include('chevron-right.svg')</button>
	</div>
	<div class='tooltip'>
		<p></p>
		<p class='tooltip__close'>Tap to Close</p>
	</div>
</section>
