<section class='section__video is-hidden'>
	<div class='video__content'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/3qx8r7vM2Qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<button class='video__close'>@@include('x-circle.svg')</button>
</section>