<section class='section__video is-hidden'>
	<div class='video__content'>
		<iframe width="100%" height="360" src="https://www.youtube.com/embed/-DXKDw8l0wY?rel=0" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p><a href='https://youtu.be/LExGIC9iaRA?vq=hd1080p60' target='_blank'>Ver en español
				@@include('play-circle.svg')</a></p>
	</div>
	<button class='video__close'>@@include('x-circle.svg')</button>
</section>